.przycisk {
    width: 15%;
    min-width: 180px;
    height: auto;
}
body {
    margin: 0;
    font-family: 'Arial';
    background: url(tlo.png) no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

body {
    font-size: 16px; /* Podstawa dla czytelności */
}

button, a.button {
    padding: 12px 20px; /* Większe obszary kliknięcia */
    display: inline-block;
}

/* Styl dla komputerów i większych ekranów */
.kontener {
    width: 80%;
    margin: 0 auto;
}

/* Styl dla telefonów (ekrany o szerokości do 768 pikseli) */
@media (max-width: 768px) {
    .kontener {
        width: 100%; /* Rozciąga stronę na cały ekran telefonu */
    }
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}
.video-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
}

.maskotka {
    width: 20%;
    min-width: 180px;
    max-width: 300px;
    height: auto;
}
.zdjecie {
    height: 300px;
    width: auto;
}

@media (max-width: 768px) {
    .zdjecie {
        width: 95%;
    }
}
.zaloga-zdjecie {
    width: 30%;
    max-width: 350px;
    min-width: 220px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}